/*
* @Author: Administrator
* @Date:   2017-08-20 21:38:31
* @Last Modified by:   Administrator
* @Last Modified time: 2017-08-20 21:58:04
*/
@font-face {
  font-family: 'iconfont';  /* project id 354503 */
  src: url('http://at.alicdn.com/t/font_354503_fgpcs0kske78ehfr.eot');
  src: url('http://at.alicdn.com/t/font_354503_fgpcs0kske78ehfr.eot?#iefix') format('embedded-opentype'),
  url('http://at.alicdn.com/t/font_354503_fgpcs0kske78ehfr.woff') format('woff'),
  url('http://at.alicdn.com/t/font_354503_fgpcs0kske78ehfr.ttf') format('truetype'),
  url('http://at.alicdn.com/t/font_354503_fgpcs0kske78ehfr.svg#iconfont') format('svg');
}
*{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
}
.head{
	width: auto;
	height: 40px;
	background: #333333;
}
.head-box{
	width: 1226px;
	height: 100%;
	margin: 0 auto;
}
.left-list{
	height: 100%;
	float: left;
	overflow: hidden;
}
.righe-list{
    height: 100%;
	float: right;
	overflow: hidden;
}
.left-list li{
    font-size: 12px;
	line-height: 40px;
	float: left;
}
.left-list span{
	font-size: 12px;
	line-height: 40px;
	float: right;
}
.head-box a{
	border-right: 1px solid #424242;
	color: #b0b0b0;
	padding-left: 8px;
	padding-right: 9px;
}
.head-box a:hover{
	color: white;
}
.right-list{
	height: 100%;
	float: right;
	overflow: hidden;
}
.right-list li{
	font-size: 12px;
	line-height: 40px;
	float: right;
}
#tesu-1,#tesu-2,#tesu-3{
	border: 0;
}
.logo{
	height: 100px;
	width: 100%;
	transition: all 0.5s;
	position: relative;
}
.logo-box{
	height: 100px;
	width: 1226px;
	margin: 0 auto;
}
.logo-logo{
	background: url('../img/TIM图片20170713144847_07.png') no-repeat center center;
	width: 55px;
	height: 55px;
	background-size: 55px 55px;
	margin-top: 22px;
	float: left;
}
.move{
	margin-left: 10px;
	width: 165px;
	height: 100%;
	float: left;
}
.move img{
	width: 100%;
	height: 65%;
	display: block;
	margin-top: 18px;
}
.logo-nav{
    margin-left: 20px;
    line-height: 100px;
    height: 100px;
    float: left;
    width: 640px;
    overflow: hidden;
}
.caidan>li{
	display: block;
	font-size: 16px;
	height: 100px;
	color: #333333;
	padding-right: 10px;
	padding-left: 10px;
	float: left;
}
.caidan li:hover{
	color:  #ff9000;
	cursor: pointer;
}
.beijing{
	position: absolute;
	top: 100px;
	left: 0;
	width: 100%;
	height: 0;
	background: rgba(255,255,255,1);
	transition:  0.15s;
	/*transition: box-shadow 0.5s;*/
	z-index: 3;
}
.yinying{
	box-shadow:0 2px 4px 2px rgba(0,0,0,0.2);
}
.caidan>li>ul{
	position: absolute;
	top:100px;
	left: 0;
	width: 100%;
	height: 0;
	display: none;
	z-index: 4;
	background: white;
}
.caidan a{
	color: black;
}
.new-nav{
	width: 1228px;
	height: 100%;
	margin: auto;
	overflow: hidden;
}
.net{
	height: 100%;
	width: 200px;
	text-align: center;
	float: left;
}
.net img{
	width: 120px;
	height: 120px;
	margin: auto;
	display: block;
	margin-top: 10px;
}

.new-nav .net-1{
	display: block;
	text-align: center;
	font-size: 11px;
	margin-top: -30px;
	color: black;
}
.new-nav .net-2{
	display: block;
	text-align: center;
	font-size: 12px;
	color: orange;
	margin-top: -80px;
}
.shu-xian{
	height: 50%;
	width: 1px;
	margin-top: 20px;
	float: left;
	background: #cccccc;
	position: relative;
	z-index: 20;
}
.new-nav .three img{
	width: 170px;
}
.new-nav .four img{
	width: 140px;height: 130px;
	margin-top: 0;
	margin-bottom: -20px;
}
#shuru{
	width: 243px;
	height: 48px;
	border: 1px solid  #e0e0e0;
	float: right;
	font-size: 16px;
}
.sousuo .iconfont{
	font-family: iconfont;
  font-size: 18px;
  border-left: 1px solid #e0e0e0;
  float: right;
  width: 50px;
  height: 50px;
  line-height: 48px;
  text-align: center;
}
.sousuo a{
	color: #616161;
}
.sousuo .iconfont:hover{
	background: #ff9000;
}
.sousuo .iconfont:hover a{
	color: white;
}
.sousuo{
	width: 296px;
	height: 50px;
	margin-top: 26px;
	position: relative;
	float: right;
	border: 1px solid #e0e0e0;
	display: block;
	z-index: 2;
}
#sousuo-kuang{
	position: absolute;
	top: 0;
	left: 10px;
	border: none;
	outline: none;
	width: 230px;
	height: 50px;
	font-size: 15px;
}
.sousuo-right{
	width: 82px;
	height: 18px;
	background: #eeeeee;
	font-size: 11px;
	color: #757575;
	position: absolute;
	left: 151px;
	top: 15px;
	line-height: 18px;
	text-align: center;
}.sousuo-left{
	width: 53px;
	height: 18px;
	color: #757575;
	font-size: 11px;
	background-color: #eeeeee;
    position: absolute;
    left: 93px;
    top: 15px;
    line-height: 18px;
	text-align: center;
}
.sousuo-left:hover{
	color: white;
	background: #ff9000;
}
.sousuo-right:hover{
	color: white;
	background: #ff9000;
}
.sousuo .xuanxiang{
	position: absolute;
	top: 51px;
	left: -1px;
	width: 245px;
	height: 300px;
	border: 1px solid #ff9000;
	border-top: 0;
	background: white;
	z-index: 2;
	display: none;
}
.sousuo .xuanxiang li{
	width: 235;
	height: 30px;
	font-size: 13px;
	padding-left: 10px;
	line-height: 30px;
}
.sousuo .xuanxiang li span{
	float: right;
	font-size: 12px;
	color: #b4b4b3;
	margin-right: 10px;
}
.sousuo .xuanxiang li:hover{
	background: rgba(235,235,235,0.6);
}
.specil:hover a{
	color: #FF9000;
}
.xian{
	height: 460px;
	width: 100%;
  margin-bottom: 14px;
  position: relative;
}
.xian-box{
	height: 100%;
	width: 1226px;
  margin: 0 auto;
  position: relative;
}
.banner>li{
	position: absolute;
	top: 0;
	left: 0;
	width: 1226px;
	height: 460px;
	transition: all 0.5s; 
}
.banner>li img{
	width: 1226px;
	height: 460px;
	display: block;
}
.xian-left{
	position: absolute;
	top: 210px;
	left: 233px;
	width: 41px;
	height: 69px;
	font-family: 'iconfont';
	font-size: 28px;
	color: rgba(255,255,255,0.5);
	text-align: center;
	line-height: 69px;
	cursor: pointer;
}
.xian-left:active{
	background: black;
}
.xian-right{
	position: absolute;
	top: 210px;
	right: 0;
	width: 41px;
	height: 69px;
	font-family: 'iconfont';
	font-size: 28px;
	color: rgba(255,255,255,0.5);
	text-align: center;
	line-height: 69px;
	cursor: pointer;
}
.xian-left:hover{
	background: rgba(15,16,20,0.4);
	color: rgba(257,257,257,0.8);
}
.xian-right:hover{
	background: rgba(15,16,20,0.4);
	color: rgba(257,257,257,0.8);
}
.xianshi-lunbo .hot{
	background: rgba(255,255,255,0.3);
	border: 2px solid rgba(0,0,0,0.3);
}
.xianshi-lunbo{
	position: absolute;
	bottom: 20px;
	right: 25px;
	width: 130px;
	height: 10px;
	overflow: hidden;
}
.xianshi-lunbo>li{
	width: 6px;
	height: 6px;
	border-radius: 50%;
	border: 2px solid rgba(255,255,255,0.2);
	background: rgba(0,0,0,0.2);
	float: left;
	margin-right: 10px;
	cursor: pointer;
}
.xianshi-lunbo>li:hover{
	background: rgba(255,255,255,0.3);
	border: 2px solid rgba(0,0,0,0.3);

}
.aside-left{
	height: 100%;
	width: 233px;
	float: left;
  background: rgba(0,0,0,0.4);
  position: absolute;
  top: 0;
  left: 0;
}
.xian .aside-left .belive li:first-child{
	width: 163px;
	height: 40px;
	font-size: 14px;
	line-height: 44px;
	color: white;
	float: left;
	opacity: 1;
	padding-left: 30px;
}
.aside-left .iconfont{
	font-family: 'iconfont';
	width: 40px;
	height: 40px;
	font-size: 12px;
	font-weight: bold;
	line-height: 44px;
	color: white;
	float: right;
}
.aside-left ul>div{
	width: 233px;
	height: 40px;
	cursor: pointer;
}
.aside-left ul>div:hover{
	background: #ff9000;
	opacity: 1;
}
.xian-top,.xian-bottom{
	width: 150px;
	height: 30px;
}
.xian .aside-left .nav-before{
	position: absolute;
	left: 233px;
	top: 0;
	background: white;
	margin: 0;
	padding: 0;
	display: none;
	box-shadow: 2px 0 4px 0 rgba(0,0,0,0.1);
	/*overflow: hidden;*/
}

.xian .aside-left .nice-1{
	width: 768px;
	height: 460px;
}
.xian .aside-left .nice-2{
	width: 512px;
	height: 460px;
}
.xian .aside-left .nice-3{
	width: 512px;
	height: 460px;
}
.xian .aside-left .nice-4{
	width: 993px;
	height: 460px;
}
.nav-before>div{
	display: block;
	width: 200px;
	height: 20px;
	padding: 24px;
	float: left;
	text-align: center;
	line-height: 60px;
	overflow: hidden;
}
.nav-before img{
	width: 60px;
	height: 45px;
	float: left;
}
.nav-before .watch{
	width: 60px;
	height: 60px;
	margin-top: -10px;
	float: left;
}
.nav-before .mi5s{
	font-size: 14px;
	height: auto;
	display: block;
	color: black;
	float: left;
	margin-top: -10px;
	margin-left: 10px;
}
.aside{
	float: left;
}
.xiala{
	width: 100%;
	height: 170px;
	transition: all 10s;
}
.xiala-box{
	width: 1226px;
	height: 100%;
	margin: 0 auto;
}
.xiala-1{
	 float: left;
	 width: 234px;
	 height: 170px;
	 font-size: 15px;
	 overflow: hidden;
	 background: #5f5750;
}
.xiala .zhihuan{
	background: #5f5750;
	width: 77px;
	height: 84px;
	float: left;
	font-size: 22px;
	text-align: center;
}
.zhihuan a{
		display: block;
		margin-top: 18px;
		color: #cdcac8;
		text-align: center;
		font-size: 12px;
}
.shu{
	width: 1px;
	height: 70px;
	float: left;
	margin-top: 7.5px;
	background: #6f6f6f;
}
.heng{
	width: 64px;
	height: 1px;
	margin-left: 7px;
	margin-right: 7px;
	background: #6F6F6F;
	float: left;
}
.zhihuan .iconfont{
	display: block;
	font-family: 'iconfont';
	width: 100%;
	height: 36px;
	font-size: 24px;
	font-style: normal;
	margin-top: 10px;
	overflow: hidden;
}
.xiala .zhihuan .one{
	font-size: 32px;
}
.xiala .zhihuan .three{
	padding-top: 8px;
	height: 28px;
	font-size: 14px;
}
.xiala .zhihuan a:hover{
	color: white;
}
.xiala-tu{
    margin-left: 14px;
    float: left;
}
.xiala-tu:hover{
	transition: all 0.2s;
	box-shadow: 0 15px 30px 0px rgb(222, 222, 222);
}
.danpin{
	width: 100%;
	height: 85px;
}
.danpin-box{
	width: 1226px;
	height: 100%;
	margin: 0 auto;
}
.danpin-box a{
	color: #beb3af;
}
.danpin-zi{
	margin-top: 45px;
	font-size: 22px;
	color: #333333;
	display: block;
	float: left;
}
.danpin-left,.danpin-right{
	font-family: 'iconfont';
	width: 36px;
	height: 24px;
	border: 1px solid #beb3af;
	text-align: center;
	line-height: 24px;
	font-size: 12px;
	float: right;
	margin-top: 50px;
	font-weight: bold;
	cursor: pointer;
	color: #989898;
}
.danpin-left:hover{
	color: orange;
}
.danpin-right:hover{
	color: orange;
}
.no1{
	width: 100%;
	height: 400px;
}
.no1-box{
	position: relative;	
	width: 1226px;
	height: 100%;
	margin: 0 auto;
	overflow: hidden;
}
.banner-left{
	position: absolute;
	left: 0;
	top: 0;
	width: 1226px;
	height: 100%;
}
.banner-right{
	position: absolute;
	left: 1226px;
	top: 0;
	width: 1226px;
	height: 100%;
}
.disabled{
	disabled:true;
}
.banner-left img{
	width: 180px;
	height: 180px;
	margin-left: 40px;
	margin-top: 36px;
}
.banner-right img{
	width: 180px;
	height: 180px;
	margin-left: 40px;
	margin-top: 36px;
}
.no1-1,.no1-2,.no1-3,.no1-4{
	width: 234px;
	height: 339px;
	float: left;
	margin-right: 14px;
	background: #fafafa;
}
.danpin-box .danpin-right:hover a{
	color: #ff6709;
}
.danpin-box .danpin-left:hover a{
	color: #ff6709;
}
.chinese-1{
	display: block;
	text-align: center;
	color: #212121;
	margin: 0 auto;
	font-size: 16px;
	margin-top: 20px;
}
.chinese-2{
	display: block;
	text-align: center;
	color: #b0b0b0;
	margin: 0 auto;
	font-size: 12px;
	margin-top: 10px;
}
.chinese-3{
	display: block;
	text-align: center;
	color: #ff6709;
	margin: 0 auto;
	font-size: 14px;
	margin-top: 10px;
}
.chinese-4{
	height: 16px;
    display: block;
	text-align: center;
	color: #212121;
	margin: 0 auto;
	font-size: 16px;
}
.chinese-5{
	height: 20px;
    display: block;
	text-align: center;
	color: #212121;
	margin: 0 auto;
	font-size: 20px;
}
.chinese-6{
	display: block;
	text-align: center;
	height: 14px;
	color: #a075a0;
	margin: 0 auto;
	font-size: 14px;
	margin-top: 2px; 
}
.chinese-7{
	display: block;
	color: #212121;
	margin: 0 auto;
	font-size: 16px;
	margin-top: 20px;
	margin-left: 20px;
	margin-right: 20px;
	height: 60px;
}
.chinese-8{
	display: block;
	text-align: center;
	color: #b0b0b0;
	margin: 0 auto;
	font-size: 12px;
	margin-top: 20px;
	margin-left: 15px;
	width: 120px;
}
.chinese-9{
	display: block;
	color: #212121;
	margin: 0 auto;
	font-size: 16px;
	margin-top: 20px;
	margin-left: 15px;
	float: left;
}
.chinese-10{
	display: block;
	text-align: center;
	color: #ff6709;
	margin: 0 auto;
	font-size: 14px;
	margin-top: 20px;
	margin-left: 20px;
	float: left;
}
.chinese-11{
	display: block;
	text-align: center;
	color: #333333;
	font-size: 20px;
	font-weight: bold;
	margin-top: 28px;
}
.chinese-12{
	display: block;
	text-align: center;
	color: #c1b7cb;
	font-size: 12px;
	margin-top: 14px;
	margin-left: 30px;
	margin-right: 30px; 
}
.chinese-13{
	display: block;
	text-align: center;
	color: #333333;
	font-size: 13px;
	margin-top: 30px;
	font-weight: bold;
}
.no1-5{
	width: 234px;
	height: 339px;
	float: left;
	background: #fafafa;
}
.no1-1{
	border-top: 1px solid #ffac13;
}
.no1-2{
	border-top: 1px solid #83c44e;
}
.no1-3{
	border-top: 1px solid #2196f3;
}
.no1-4{
	border-top: 1px solid #e53935;
}
.no1-5{
	border-top: 1px solid #00c0a5;
}
.no2{
	width: 100%;
	height: 740px;
	background: #f5f5f5;
}
.no2-box{
	width: 1226px;
	height: 100%;
	margin: 0 auto;
}
.no2-zi{
	overflow: hidden;
	height: 117px;
}
.no2-one{
	margin-top: 80px;
	font-size: 22px;
	color: #333333;
	display: block;
	float: left;
}
.no2-two{
	display: block;
	font-size: 16px;
	float: left;
	margin-left: 25px;
	margin-top: 84px;
	color: #424242;
	font-weight: bold;
}
.no2-two-1{
	display: block;
	font-size: 16px;
	float: left;
	margin-left: 935px;
	margin-top: 84px;
	color: #424242;
	font-weight: bold;
}
.no2-two-2{
	display: block;
	font-size: 16px;
	float: left;
	margin-left: 890px;
	margin-top: 84px;
	color: #424242;
	font-weight: bold;
}
.no2-two-3{
	display: block;
	font-size: 16px;
	float: left;
	margin-left: 920px;
	margin-top: 84px;
	color: #424242;
	font-weight: bold;
}
.no2-two-4{
	display: block;
	font-size: 16px;
	float: left;
	margin-left: 880px;
	margin-top: 84px;
	color: #424242;
	font-weight: bold;
}
.no2-two-1:hover{
	border-bottom: 2px solid #ff6709;
}
.no2-two-2:hover{
	border-bottom: 2px solid #ff6709;
}
.no2-two-3:hover{
	border-bottom: 2px solid #ff6709;
}
.no2-two-4:hover{
	border-bottom: 2px solid #ff6709;
}
.no2-two:hover{
	border-bottom: 2px solid #ff6709;
}
.no2-zi a:hover{
	color: #fb9300;
}
.no2-box img{
	width: 140px;
	height: 140px;
	margin-left: 50px;
	margin-top: 36px;
}
.no2-box .no2-left{
	margin: 0;
	width: 234px;
	height: 617px;
	float: left;
	margin-right: 14px;
	transition: all 0.3s;
}
.no2-left:hover{
	transform: translateY(-4px);
	box-shadow: 0px 5px 20px 0px rgb(203, 203, 203);
}
.no2-1,.no2-2,.no2-3,.no2-first{
	width: 234px;
	height: 300px;
	float: left;
	margin-right: 14px;
	background: white;
	transition: all 0.3s;
	position: relative;
	overflow: hidden;
}
.no2-1-top,.no2-2-top,.no2-3-top,.no2-4-top,.no2-5-top,.no2-6-top,.no2-7-top{
	position: absolute;
	width: 234px;
	height: 100px;
	text-align: center;
	line-height: 100px;
	font-size: 14px;
	color: white;
	bottom: -100px;
	background: #ff6709;
	transition: all 0.3s;
}
.no2-1:hover .no2-1-top{
	bottom: 0px;
}
.no2-2:hover .no2-2-top{
	bottom: 0px;
}
.no2-3:hover .no2-3-top{
	bottom: 0px;
}

.no2-4:hover .no2-4-top{
	bottom: 0px;
}
.no2-5:hover .no2-5-top{
	bottom: 0px;
}
.no2-6:hover .no2-6-top{
	bottom: 0px;
}
.no2-7:hover .no2-7-top{
	bottom: 0px;
}
.no2-1:hover{
	transform: translateY(-4px);
	box-shadow: 0px 5px 20px 0px rgb(203, 203, 203);
}
.no2-2:hover{
	transform: translateY(-4px);
	box-shadow: 0px 5px 20px 0px rgb(203, 203, 203);
}
.no2-3:hover{
	transform: translateY(-4px);
	box-shadow: 0px 5px 20px 0px rgb(203, 203, 203);
}
.no2-4:hover{
	transform: translateY(-4px);
	box-shadow: 0px 5px 20px 0px rgb(203, 203, 203);
}
.no2-5:hover{
	transform: translateY(-4px);
	box-shadow: 0px 5px 20px 0px rgb(203, 203, 203);
}
.no2-6:hover{
	transform: translateY(-4px);
	box-shadow: 0px 5px 20px 0px rgb(203, 203, 203);
}
.no2-7:hover{
	transform: translateY(-4px);
	box-shadow: 0px 5px 20px 0px rgb(203, 203, 203);
}
.no2-8:hover{
	transform: translateY(-4px);
	box-shadow: 0px 5px 20px 0px rgb(203, 203, 203);
}
.no2-9:hover{
	transform: translateY(-4px);
	box-shadow: 0px 5px 20px 0px rgb(203, 203, 203);
}
.no2-last:hover{
	transform: translateY(-4px);
	box-shadow: 0px 5px 20px 0px rgb(203, 203, 203);
}
.no2-first:hover{
	transform: translateY(-4px);
	box-shadow: 0px 5px 20px 0px rgb(203, 203, 203);
}
.no2-4{
	width: 234px;
	height: 300px;
	float: left;
	background: white;
	transition: all 0.3s;
	overflow: hidden;
	position: relative;
}
.no2-5,.no2-6,.no2-7,.no2-last{
	width: 234px;
	height: 300px;
	float: left;
	margin-right: 14px;
	margin-top: 14px;
	background: white;
	transition: all 0.3s;
	overflow: hidden;
	position: relative;
}
.no2-8,.no2-9{
	width: 233px;
	height: 143px;
	float: left;
	margin-top: 14px;
	background: white;
	transition: all 0.3s;
}
.no2-box .no2-8-right{
	width: 90px;
	height: 90px; 
	float: right;
	margin-right: 20px;
	margin: 0;
	margin-top: 35px;
}
.no2-8-left{	
	float: left;
	line-height: 143px;
    margin-left: 30px;
}
.no2-box .iconfont{
	font-family: 'iconfont';
    font-size: 50px;
    color: #ff6700;
    float: right;
    margin-top: 50px;
    margin-right: 30px;
}
#first-top,#first-bottom{
    width: 234px;
    height: 300px;
    margin-top: 0;
    margin-left: 0;
}
.tuijian-left,.tuijian-right{
	width: 36px;
	height: 24px;
	border: 1px solid #beb3af;
	text-align: center;
	line-height: 24px;
	font-size: 16px;
	float: right;
	margin-top: 80px;
	font-weight: bold;
}
.tuijian-right a{
	color: #b0b0b0;
}
.tuijian-left a{
	color: #b0b0b0;
}
.no3{
	width: 100%;
	height: 417px;
	background: #f5f5f5;
}
.no3-box{
	width: 1226px;
	height: 100%;
	margin: 0 auto;
}
.no3-zi{
	overflow: hidden;
	height: 117px;
}
.no3-one{
	margin-top: 80px;
	font-size: 22px;
	color: #333333;
	display: block;
	float: left;
}
.no3-zi .tuijian-right:hover a{
	color: #ff6709;
}
.no3-zi .tuijian-left:hover a{
	color: #ff6709;
}
.no3-box img{
	width: 140px;
	height: 140px;
	margin-left: 50px;
	margin-top: 36px;
}
.no3-1,.no3-2,.no3-3,.no3-first{
	width: 234px;
	height: 300px;
	float: left;
	margin-right: 14px;
	background: white;
	transition: all 0.4s;
}
.no3-1:hover{
	transform: translateY(-4px);
	box-shadow: 0px 5px 20px 0px rgb(203, 203, 203);
}
.no3-2:hover{
	transform: translateY(-4px);
	box-shadow: 0px 5px 20px 0px rgb(203, 203, 203);
}
.no3-3:hover{
	transform: translateY(-4px);
	box-shadow: 0px 5px 20px 0px rgb(203, 203, 203);
}
.no3-4:hover{
	transform: translateY(-4px);
	box-shadow: 0px 5px 20px 0px rgb(203, 203, 203);
}
.no3-first:hover{
	transform: translateY(-4px);
	box-shadow: 0px 5px 20px 0px rgb(203, 203, 203);
}
.no3-4{
	width: 234px;
	height: 300px;
	float: left;
	background: white;
	transition: all 0.4s;
}
.no4{
	width: 100%;
	height: 530px;
	background: #f5f5f5;
}
.no4-box{
	width: 1226px;
	height: 100%;
	margin: 0 auto;
}
.no4-zi{
	overflow: hidden;
	height: 117px;
}
.no4-one{
	margin-top: 80px;
	font-size: 22px;
	color: #333333;
	display: block;
	float: left;
}
.no4-box img{
	width: 296px;
	height: 220px;
}
.no4-1,.no4-2,.no4-first{
	width: 296px;
	height: 420px;
	float: left;
	margin-right: 14px;
	background: white;
	transition: all 0.4s;
}
.no4-3{
	width: 296px;
	height: 420px;
	float: left;
	background: white;
	transition: all 0.4s;
}
.no4-1:hover{
	transform: translateY(-4px);
	box-shadow: 0px 5px 20px 0px rgb(203, 203, 203);
}
.no4-2:hover{
	transform: translateY(-4px);
	box-shadow: 0px 5px 20px 0px rgb(203, 203, 203);
}
.no4-3:hover{
	transform: translateY(-4px);
	box-shadow: 0px 5px 20px 0px rgb(203, 203, 203);
}
.no4-4:hover{
	transform: translateY(-4px);
	box-shadow: 0px 5px 20px 0px rgb(203, 203, 203);
}
.no4-first:hover{
	transform: translateY(-4px);
	box-shadow: 0px 5px 20px 0px rgb(203, 203, 203);
}
.no5{
	width: 100%;
	height: 545px;
	background: #f5f5f5;
}
.no5-box{
	width: 1226px;
	height: 100%;
	margin: 0 auto;
}
.no5-zi{
	height: 117px;
}
.no5-one{
	margin-top: 75px;
	font-size: 22px;
	color: #333333;
	display: block;
	float: left;
}
.no5-box img{
	width: 193px;
	height: 138px;
	margin: 0 auto;
	margin-top: 30px;
	margin-left: 50px;
}
.no5-1,.no5-2,.no5-first{
	width: 296px;
	height: 420px;
	float: left;
	margin-right: 14px;
	background: white;
	transition: all 0.4s;
	border-top: 1px solid #ffbe13;
	position: relative;
}
.no5-3{
	width: 296px;
	height: 420px;
	float: left;
	background: white;
	transition: all 0.4s;
		border-top: 1px solid #ffbe13;
	position: relative;
}
.button-left-1,.button-left-2,.button-left-3,.button-left-4{
	font-family: 'iconfont';
	width: 20px;
	height: 48px;
    position: absolute;
    top: 200px;
    font-size: 16px;
    line-height: 48px;
	background: #d0d0d0;
	text-align: center;
	font-weight: bold;
	color: white;
	display: none;
    transition: all 0.4s;
}
.button-right-1,.button-right-2,.button-right-3,.button-right-4{
	font-family: 'iconfont';
	width: 20px;
	height: 48px;
    position: absolute;
    top: 200px;
    left: 277px;
    font-size: 16px;
    line-height: 48px;
	background: #d0d0d0;
	text-align: center;
	font-weight: bold;
	color: white;
	display: none;
	transition: all 0.4s;
}
.button-left-1:hover{
	background: #8a8a8a;
}
.button-right-1:hover{
	background: #8a8a8a;
}
.button-left-2:hover{
	background: #8a8a8a;
}
.button-right-2:hover{
	background: #8a8a8a;
}
.button-left-3:hover{
	background: #8a8a8a;
}
.button-right-3:hover{
	background: #8a8a8a;
}
.button-left-4:hover{
	background: #8a8a8a;
}
.button-right-4:hover{
	background: #8a8a8a;
}
.no5-first:hover .button-left-1{
	display: block;
}
.no5-first:hover .button-right-1{
	display: block;
}
.no5-1:hover .button-left-2{
	display: block;
}
.no5-1:hover .button-right-2{
	display: block;
}
.no5-2:hover .button-left-3{
	display: block;
}
.no5-2:hover .button-right-3{
	display: block;
}
.no5-3:hover .button-left-4{
	display: block;
}
.no5-3:hover .button-right-4{
	display: block;
}
.no5-1:hover{
	transform: translateY(-4px);
	box-shadow: 0px 5px 20px 0px rgb(203, 203, 203);
}
.no5-2:hover{
	transform: translateY(-4px);
	box-shadow: 0px 5px 20px 0px rgb(203, 203, 203);
}
.no5-3:hover{
	transform: translateY(-4px);
	box-shadow: 0px 5px 20px 0px rgb(203, 203, 203);
}
.no5-4:hover{
	transform: translateY(-4px);
	box-shadow: 0px 5px 20px 0px rgb(203, 203, 203);
}
.no5-first:hover{
	transform: translateY(-4px);
	box-shadow: 0px 5px 20px 0px rgb(203, 203, 203);
}
.caise-1{
	color: #ffbe13;
	margin-top: 50px;
	font-size: 14px;
    text-align: center;
    display: block;
    font-weight: bold;
}
.caise-2{
	color: #83cf95;
	margin-top: 50px;
	font-size: 14px;
    text-align: center;
    display: block;
    font-weight: bold;
}
.caise-3{
	color: #eb7035;
	margin-top: 50px;
	font-size: 14px;
    text-align: center;
    display: block;
    font-weight: bold;
}
.caise-4{
	color: #8296f3;
	margin-top: 50px;
	font-size: 14px;
    text-align: center;
    display: block;
    font-weight: bold;
}


.ten-big{
	width: 100%;
	height: 440px;
	background: #f5f5f5;
}
.ten-big main{
	width: 1226px;
	margin: 0 auto;
}
.san-gai{
	height: 57px;

}
.san-top2{

	margin-top: 39px;
	display: block;
	float: left;
	font-size: 21px;
	color: #333333;
}
.san-toprgai{

	width: 90px;
	height: 20px;
	background:  #f5f5f5;
	float: right;
	margin-top: 42px;
	overflow: hidden;
}
.topr1{
	color: black;
	line-height: 20px;
	font-size: 16px;
	display: block;
	float: left;
}
.topr2{
	font-family: 'iconfont';
	display: block;
	font-size: 18px;
	color: #B0B0B0;
	margin-top: 2px;
	margin-right: 2px;
	float: right;
}
.san-toprgai:hover .topr1{
	color: #ff8400;
}
.san-toprgai:hover .topr2{
	color: #ff8400;
}
.ten-box{
	height: 285px;
	width: 100%;
	background: #f5f5f5;
	margin-top: 18px;
	float: left;

}
.ten-box1{
	width: 296px;
	height: 100%;
	background: #fff;
	margin-right: 14px;
	position: relative;
	float: left;
		  transition: all 0.4s;
}
.ten-box1 .iconfont{
	font-family: 'iconfont';
	font-size: 26px;
	font-family: 'iconfont';
	color:#fff;
	position: absolute;
  left: 20px;
	top: 146px;
}
.ten-box1:hover .iconfont{
	color: orange;
}

.ten-box1:hover{
	transform: translateY(-4px);
	box-shadow: 0px 5px 20px 0px rgb(203, 203, 203);
}
.ten-box1-top img{
	width: 296px;
	height: 190px;
	background: yellowgreen;
}
.diyihang{
	font-size: 12px;
	color: #6c6c6c;
	text-align: center;
	display: block;
	margin-top: 32px;
}
.diyihang:hover{
	color: #ff8d40;
}
.dierhang{
	font-size: 11px;
	color: #b0b0b0;
	display: block;
	text-align: center;
	margin-top: 14px;
}
.ten-box-last{
	margin-right: 0;
}


.dibu{
	width: 100%;
	height: 280px;
}
.dibu-box{
	width: 1226px;
	height: 100%;
	margin: 0 auto;
}
.shouhou .iconfont{
	font-family: 'iconfont';
	font-size: 23px;
	float: left;
	margin-left: 50px;
}
.shouhou{
	height: 80px;
	border-bottom: 1px solid #e0e0e0;
}
.shouhou-1,.shouhou-2,.shouhou-3,.shouhou-4{
	display: block;
	float: left;
	width: 244px;
	height: 23px;
	border-right: 1px solid #e0e0e0;
	color: #898989;
	margin-top: 30px;
	line-height: 23px;
	font-weight: bold;
}
.shouhou-5{
	float: left;
	width: 244px;
	height: 23px;
	color: #898989;
	margin-top: 30px;
	line-height: 23px;
	font-weight: bold;
}
.shouhou a:hover div{
	color: #ff6757;
}
.dibu span{
	margin-left: 10px;
}
.kefu-left{
	width: 978px;
	height: 115px;
	border-right: 1px solid #e0e0e0;
	margin-top: 42px;
	float: left;
}
.kefu-left a:hover li{
	color: #ff6757;
}
.kefu-1 li{
	float: left;
	margin-right: 104px;
	margin-top: 0px;
	font-size: 13px;
	font-weight: bold;
	color: #616161;
}
.kefu-2 li{
	float: left;
	margin-top: 30px;
	margin-right: 113px;
	font-size: 11px;
	color: #757575;
}
.kefu-3 li{
	float: left;
	margin-top: 17px;
	margin-right: 113px;
	font-size: 11px;
	color: #757575;
}
.kefu-4 li{
	float: left;
	margin-top: 17px;
	margin-right: 113px;
	font-size: 11px;
	color: #757575;
}
.kefu:hover .kefu-zixun{
	color: black;
	background: #ff6700;
}
.kefu-biaoti{
	display: block;
	font-size: 25px;
	color: #ff6757;
	margin-top: 42px;
    text-align: center;
}
.kefu-right{
	width: 246px;
	height: 160px;
    float: left;
}
.kefu-5{
	display: block;
	text-align: center;
	font-size: 11px;
	margin-top: 10px;
	color: #616161;
}
.kefu-zixun{
	width: 120px;
	height: 30px;
	border: 1px solid #ff6700;
	margin-left: 66px;
	margin-top: 10px;
}
.kefu-right .iconfont{
    font-family: 'iconfont';
    font-size: 14px;
    color: #ff6700;
    margin-top: 8px;
    margin-left: 10px;
    float: left;
}
.kefu-right .kefu-zixun-1{
	font-size: 14px;
	color: #ff6700;
	float: left;
	margin-top: 8px;
	margin-left: 3px;
}
.kefu-zixun:hover{
	background-color: #ff6700;
}
.kefu-zixun:hover span{
	color: white;
}
.kefu-zixun:hover div{
	color: white;
}
.shenming{
	width: 100%;
	height: 150px;
	background-color: #fafafa;
}
.shenming-box{
	width: 1226px;
	height: 100%;
	margin: 0 auto;
}
.shenming-left{
	width: 772px;
	float: left;
	height: 55px;
	margin-top: 30px;
}
.shenming-logo{
	background: url('../img/TIM图片20170713144847_07.png') no-repeat center center;
    width: 55px;
    height: 55px;
    margin-left: 2px;
    background-size: 55px;
    float: left;
}
.shenming-1{
	float: left;
	margin-left: 10px;
	margin-top: 3px;
}
.shenming-1 li{
	float: left;
	border-right: 1px solid #757575;
	padding-left: 5px;
	padding-right: 5px;
	font-size: 11px;
}
.shenming-1 a{
	color: #757575;
}
.shenming-1 a:hover{
    color: #ff6709;
}
.shenming-1 .tesu-4{
	border: 0;
}
.shenming-2{
	margin-top: 8px;
	margin-left: 10px;
	float: left;
}
.shenming-2 li{
	float: left;
	margin-left: 4px;
	font-size: 11px;
	color: #c0b6c9;
}
.shenming-2 a{
	color: #c0b6c9;
}
.shenming-2 a:hover{
    color: #ff6709;
}
.shenming-3{
	float: left;
	margin-left: 10px;
	margin-top: 8px;
    color: #c0b6c9;
	font-size: 11px;
}
.shenming-right{
	width: 367px;
	float: right;
	height: 29px;
	margin-top: 30px;
}
.shenming-right img{
	margin-left: 10px;
	width: 75px;
	height: 27px;
}