
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1503633696308'); /* IE9*/
  src: url('iconfont.eot?t=1503633696308#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1503633696308') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1503633696308') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1503633696308#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-gouwuche:before { 
  content: "\e600";
  display: block;
  font-size: 0.57rem;
  color: #ec3b71;
}

.icon-wo:before { 
  content: "\e62c"; 
  display: block;
  font-size: 0.57rem;
  color: #ec3b71;
}

.icon-shouye:before { 
  content: "\e60c"; 
  display: block;
  font-size: 0.57rem;
  color: #ec3b71;
}

.icon-fenlei:before { 
  content: "\e682"; 
   display: block;
  font-size: 0.57rem;
  color: #ec3b71;
}

.icon-search:before { 
  content: "\e601";
  display: block;
  font-size: 0.56rem;
  color: #373737;
   }

.icon-xiaoxi1:before { 
  content: "\e602";
  display: block;
  font-size: 0.55rem;
  color: #373737;
   }

